*.gz
*.pom
*.sha1
.vscode
*.pdf
源码笔记课件
build
material
.idea
out
class

#java----------------
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#node------------------------------------------
node_modules
#spring
spring_gate


