<body>
  <param>
    <containerID value="DataAnalysis01" />
    <modelID value="25468A" />
    <appPath value="/home/sun/tmp/tmp.mY6kP9qkvE/cmake-build-debug-remote-host-container/" />
    <modelAppCmd value="123" />
    <IP value="127.0.0.1" />
    <port value="3306" />
    <userName value="root" />
    <pwd value="root" />
    <dbName value="ps" />
  </param>
  <funcModels>
    <Item comment="func:模型名称,tableName:分析的表名,startTime:分析的开始时间,endTime:分析的结束时间" endTime="2023-5-30 08:30:15" func="RainWarn" startTime="2023-5-10 08:25:54" tableName="rainfall" rainThreshold="50"/>
  </funcModels>
  <httpserver host="192.168.100.52" port="8070" />
  <socketserver host="http://192.168.101.231" port="8094" />
</body>